/* #########################################
*
*
* Only for demo page
*
*
 ######################################### */
/** -----------------------------------------------------
 *
 * HTML
 *
 */
body,
html {
  min-height: 100%;
}
body {
  font-size: 12px;
  color: #272727;
  background: #FFF;
  text-rendering: optimizeLegibility;
}
img {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 0;
  line-height: 0;
  vertical-align: top;
  display: inline-block;
}
/** -----------------------------------------------------
 *
 * Defaults
 *
 */
.container {
  margin: 0 auto;
  max-width: 800px;
  margin-bottom: 80px;
}
.markdown-body pre {
  border-left: 4px solid #0088FF;
}
/** -----------------------------------------------------
 *
 * Flipbox jolie demo
 *
 */
.flipbox .demo {
  display: block;
  max-width: 760px;
  white-space: pre-wrap;
  word-wrap: break-word;
}
.flipbox .inner {
  color: #FFF;
  padding: 20px;
}
.flipbox .inner h1 {
  text-align: center;
  margin-bottom: 10px;
  text-transform: uppercase;
}
.flipbox .code {
  color: #C4C4C4;
}
.flipbox .class {
  color: #FF00CC;
}
/* #########################################
*
*
* Flipbox styles
* as Less Mixin
*
*
 ######################################### */
/** --------------------------------------
 *
 * Page type
 *
 */
.flipbox.flipbox-page {
  margin: 20px auto;
}
.flipbox.flipbox-page,
.flipbox.flipbox-page .card,
.flipbox.flipbox-page .wrapper {
  width: 600px;
  height: 320px;
}
.flipbox.flipbox-page.flipbox-simple .wrapper {
  -webkit-transition: all 2s;
          transition: all 2s;
}
.flipbox.flipbox-page.flipbox-page .wrapper .card-cover,
.flipbox.flipbox-page.flipbox-page .wrapper .card-content-top,
.flipbox.flipbox-page.flipbox-page .wrapper .card-content-bottom {
  /* @height / 2 */
  height: 160px;
}
.flipbox.flipbox-page.flipbox-page .wrapper .card-content-bottom {
  top: 160px;
}
.flipbox.flipbox-page.flipbox-page .wrapper .card {
  /* @time / 2 */
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
}
.flipbox.flipbox-page.flipbox-page .wrapper .card-cover,
.flipbox.flipbox-page.flipbox-page .wrapper.hover .card-content-bottom,
.flipbox.flipbox-page.flipbox-page .wrapper:hover .card-content-bottom {
  -webkit-transition-delay: 1s;
          transition-delay: 1s;
}
.flipbox.flipbox-page .card-cover {
  background-color: #ACE539;
  background: url(http://placehold.it/600x320) no-repeat left top;
}
.flipbox.flipbox-page .card-content-top,
.flipbox.flipbox-page .card-content-bottom {
  background: rgba(0, 0, 0, 0.25);
}
/** --------------------------------------
 *
 * Simple type
 *
 */
.flipbox.flipbox-simple {
  margin: 20px auto;
}
.flipbox.flipbox-simple .card-cover {
  background: #ACE539;
}
.flipbox.flipbox-simple .card-content {
  color: #FFF;
  background: #333333;
}
/** --------------------------------------
 *
 * Vertical
 *
 */
.flipbox.flipbox-vertical,
.flipbox.flipbox-vertical .card,
.flipbox.flipbox-vertical .wrapper {
  width: 800px;
  height: 320px;
}
.flipbox.flipbox-vertical.flipbox-simple .wrapper {
  -webkit-transition: all 0.6s;
          transition: all 0.6s;
}
.flipbox.flipbox-vertical.flipbox-page .wrapper .card-cover,
.flipbox.flipbox-vertical.flipbox-page .wrapper .card-content-top,
.flipbox.flipbox-vertical.flipbox-page .wrapper .card-content-bottom {
  /* @height / 2 */
  height: 160px;
}
.flipbox.flipbox-vertical.flipbox-page .wrapper .card-content-bottom {
  top: 160px;
}
.flipbox.flipbox-vertical.flipbox-page .wrapper .card {
  /* @time / 2 */
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}
.flipbox.flipbox-vertical.flipbox-page .wrapper .card-cover,
.flipbox.flipbox-vertical.flipbox-page .wrapper.hover .card-content-bottom,
.flipbox.flipbox-vertical.flipbox-page .wrapper:hover .card-content-bottom {
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}
/** --------------------------------------
 *
 * Horizontal
 *
 */
.flipbox.flipbox-horizontal,
.flipbox.flipbox-horizontal .card,
.flipbox.flipbox-horizontal .wrapper {
  width: 800px;
  height: 320px;
}
.flipbox.flipbox-horizontal.flipbox-simple .wrapper {
  -webkit-transition: all 2s;
          transition: all 2s;
}
.flipbox.flipbox-horizontal.flipbox-page .wrapper .card-cover,
.flipbox.flipbox-horizontal.flipbox-page .wrapper .card-content-top,
.flipbox.flipbox-horizontal.flipbox-page .wrapper .card-content-bottom {
  /* @height / 2 */
  height: 160px;
}
.flipbox.flipbox-horizontal.flipbox-page .wrapper .card-content-bottom {
  top: 160px;
}
.flipbox.flipbox-horizontal.flipbox-page .wrapper .card {
  /* @time / 2 */
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
}
.flipbox.flipbox-horizontal.flipbox-page .wrapper .card-cover,
.flipbox.flipbox-horizontal.flipbox-page .wrapper.hover .card-content-bottom,
.flipbox.flipbox-horizontal.flipbox-page .wrapper:hover .card-content-bottom {
  -webkit-transition-delay: 1s;
          transition-delay: 1s;
}
