/**
 *
 * Example
 *
 *
 * ontouchstart="this.classList.toggle('hover');"
 *
 */
/** -----------------------------------------------------
 *
 * HTML
 *
 */
body,
html {
  min-height: 100%;
}
body {
  font-size: 12px;
  color: #272727;
  background: #FFF;
  text-rendering: optimizeLegibility;
}
img {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 0;
  line-height: 0;
  vertical-align: top;
  display: inline-block;
}
/** -----------------------------------------------------
 *
 * Defaults
 *
 */
.container {
  margin: 0 auto;
  max-width: 800px;
  margin-bottom: 80px;
}
.markdown-body pre {
  border-left: 4px solid #0088FF;
}
/** -----------------------------------------------------
 *
 * Flipbox
 *
 */
.flipbox.flipbox-page.flipbox-vertical,
.flipbox.flipbox-page.flipbox-horizontal {
  width: 800px;
  height: 320px;
  margin: 20px auto;
}
.flipbox.flipbox-page.flipbox-vertical .wrapper,
.flipbox.flipbox-page.flipbox-horizontal .wrapper {
  width: 800px;
  height: 320px;
  position: relative;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}
.flipbox.flipbox-page.flipbox-vertical .card,
.flipbox.flipbox-page.flipbox-horizontal .card {
  top: 0;
  left: 0;
  z-index: 1;
  width: 800px;
  height: 320px;
  position: absolute;
}
.flipbox.flipbox-page.flipbox-vertical.flipbox-simple,
.flipbox.flipbox-page.flipbox-horizontal.flipbox-simple {
  -webkit-perspective: 1000px;
          perspective: 1000px;
}
.flipbox.flipbox-page.flipbox-vertical.flipbox-simple .wrapper,
.flipbox.flipbox-page.flipbox-horizontal.flipbox-simple .wrapper {
  -webkit-transition: all 0.6s;
          transition: all 0.6s;
  -webkit-transform: rotateX(0deg);
          transform: rotateX(0deg);
  -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);
  -webkit-transform-origin: center center;
      -ms-transform-origin: center center;
          transform-origin: center center;
}
.flipbox.flipbox-page.flipbox-vertical.flipbox-simple .wrapper .card-cover,
.flipbox.flipbox-page.flipbox-horizontal.flipbox-simple .wrapper .card-cover {
  z-index: 2;
}
.flipbox.flipbox-page.flipbox-vertical.flipbox-simple.flipbox-horizontal .card-content,
.flipbox.flipbox-page.flipbox-horizontal.flipbox-simple.flipbox-horizontal .card-content {
  -webkit-transform: rotateX(180deg);
          transform: rotateX(180deg);
}
.flipbox.flipbox-page.flipbox-vertical.flipbox-simple.flipbox-horizontal:hover .wrapper,
.flipbox.flipbox-page.flipbox-horizontal.flipbox-simple.flipbox-horizontal:hover .wrapper,
.flipbox.flipbox-page.flipbox-vertical.flipbox-simple.flipbox-horizontal.hover .wrapper,
.flipbox.flipbox-page.flipbox-horizontal.flipbox-simple.flipbox-horizontal.hover .wrapper {
  -webkit-transform: rotateX(180deg);
          transform: rotateX(180deg);
}
.flipbox.flipbox-page.flipbox-vertical.flipbox-simple.flipbox-vertical .card-content,
.flipbox.flipbox-page.flipbox-horizontal.flipbox-simple.flipbox-vertical .card-content {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}
.flipbox.flipbox-page.flipbox-vertical.flipbox-simple.flipbox-vertical:hover .wrapper,
.flipbox.flipbox-page.flipbox-horizontal.flipbox-simple.flipbox-vertical:hover .wrapper,
.flipbox.flipbox-page.flipbox-vertical.flipbox-simple.flipbox-vertical.hover.wrapper,
.flipbox.flipbox-page.flipbox-horizontal.flipbox-simple.flipbox-vertical.hover.wrapper {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}
.flipbox.flipbox-page.flipbox-vertical.flipbox-page .wrapper,
.flipbox.flipbox-page.flipbox-horizontal.flipbox-page .wrapper {
  -webkit-perspective: 1000px;
          perspective: 1000px;
}
.flipbox.flipbox-page.flipbox-vertical.flipbox-page .card,
.flipbox.flipbox-page.flipbox-horizontal.flipbox-page .card {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
  -webkit-transition-property: -webkit-transform;
          transition-property: transform;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
}
.flipbox.flipbox-page.flipbox-vertical.flipbox-page .card-content-top,
.flipbox.flipbox-page.flipbox-horizontal.flipbox-page .card-content-top,
.flipbox.flipbox-page.flipbox-vertical.flipbox-page .card-content-bottom,
.flipbox.flipbox-page.flipbox-horizontal.flipbox-page .card-content-bottom {
  z-index: 2;
  height: 160px;
}
.flipbox.flipbox-page.flipbox-vertical.flipbox-page .card-content-bottom,
.flipbox.flipbox-page.flipbox-horizontal.flipbox-page .card-content-bottom {
  z-index: 3;
  top: 160px;
  -webkit-transform: rotateX(90deg);
          transform: rotateX(90deg);
  -webkit-transform-origin: center top;
      -ms-transform-origin: center top;
          transform-origin: center top;
}
.flipbox.flipbox-page.flipbox-vertical.flipbox-page .card-cover,
.flipbox.flipbox-page.flipbox-horizontal.flipbox-page .card-cover {
  z-index: 4;
  height: 160px;
  -webkit-transform: rotateX(0deg);
          transform: rotateX(0deg);
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
  -webkit-transform-origin: center bottom;
      -ms-transform-origin: center bottom;
          transform-origin: center bottom;
}
.flipbox.flipbox-page.flipbox-vertical.flipbox-page.hover .card-cover,
.flipbox.flipbox-page.flipbox-horizontal.flipbox-page.hover .card-cover,
.flipbox.flipbox-page.flipbox-vertical.flipbox-page:hover .card-cover,
.flipbox.flipbox-page.flipbox-horizontal.flipbox-page:hover .card-cover {
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
  -webkit-transform: rotateX(-90deg);
          transform: rotateX(-90deg);
}
.flipbox.flipbox-page.flipbox-vertical.flipbox-page.hover .card-content-bottom,
.flipbox.flipbox-page.flipbox-horizontal.flipbox-page.hover .card-content-bottom,
.flipbox.flipbox-page.flipbox-vertical.flipbox-page:hover .card-content-bottom,
.flipbox.flipbox-page.flipbox-horizontal.flipbox-page:hover .card-content-bottom {
  -webkit-transform: rotateX(0deg);
          transform: rotateX(0deg);
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}
.flipbox.flipbox-page.flipbox-vertical .card-cover,
.flipbox.flipbox-page.flipbox-horizontal .card-cover {
  background: #ACE539;
}
.flipbox.flipbox-page.flipbox-vertical .card-content-top,
.flipbox.flipbox-page.flipbox-horizontal .card-content-top,
.flipbox.flipbox-page.flipbox-vertical .card-content-bottom,
.flipbox.flipbox-page.flipbox-horizontal .card-content-bottom {
  background: rgba(0, 0, 0, 0.25);
}
.flipbox.flipbox-simple.flipbox-vertical,
.flipbox.flipbox-simple.flipbox-horizontal {
  width: 800px;
  height: 320px;
  margin: 20px auto;
}
.flipbox.flipbox-simple.flipbox-vertical .wrapper,
.flipbox.flipbox-simple.flipbox-horizontal .wrapper {
  width: 800px;
  height: 320px;
  position: relative;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}
.flipbox.flipbox-simple.flipbox-vertical .card,
.flipbox.flipbox-simple.flipbox-horizontal .card {
  top: 0;
  left: 0;
  z-index: 1;
  width: 800px;
  height: 320px;
  position: absolute;
}
.flipbox.flipbox-simple.flipbox-vertical.flipbox-simple,
.flipbox.flipbox-simple.flipbox-horizontal.flipbox-simple {
  -webkit-perspective: 1000px;
          perspective: 1000px;
}
.flipbox.flipbox-simple.flipbox-vertical.flipbox-simple .wrapper,
.flipbox.flipbox-simple.flipbox-horizontal.flipbox-simple .wrapper {
  -webkit-transition: all 0.6s;
          transition: all 0.6s;
  -webkit-transform: rotateX(0deg);
          transform: rotateX(0deg);
  -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);
  -webkit-transform-origin: center center;
      -ms-transform-origin: center center;
          transform-origin: center center;
}
.flipbox.flipbox-simple.flipbox-vertical.flipbox-simple .wrapper .card-cover,
.flipbox.flipbox-simple.flipbox-horizontal.flipbox-simple .wrapper .card-cover {
  z-index: 2;
}
.flipbox.flipbox-simple.flipbox-vertical.flipbox-simple.flipbox-horizontal .card-content,
.flipbox.flipbox-simple.flipbox-horizontal.flipbox-simple.flipbox-horizontal .card-content {
  -webkit-transform: rotateX(180deg);
          transform: rotateX(180deg);
}
.flipbox.flipbox-simple.flipbox-vertical.flipbox-simple.flipbox-horizontal:hover .wrapper,
.flipbox.flipbox-simple.flipbox-horizontal.flipbox-simple.flipbox-horizontal:hover .wrapper,
.flipbox.flipbox-simple.flipbox-vertical.flipbox-simple.flipbox-horizontal.hover .wrapper,
.flipbox.flipbox-simple.flipbox-horizontal.flipbox-simple.flipbox-horizontal.hover .wrapper {
  -webkit-transform: rotateX(180deg);
          transform: rotateX(180deg);
}
.flipbox.flipbox-simple.flipbox-vertical.flipbox-simple.flipbox-vertical .card-content,
.flipbox.flipbox-simple.flipbox-horizontal.flipbox-simple.flipbox-vertical .card-content {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}
.flipbox.flipbox-simple.flipbox-vertical.flipbox-simple.flipbox-vertical:hover .wrapper,
.flipbox.flipbox-simple.flipbox-horizontal.flipbox-simple.flipbox-vertical:hover .wrapper,
.flipbox.flipbox-simple.flipbox-vertical.flipbox-simple.flipbox-vertical.hover.wrapper,
.flipbox.flipbox-simple.flipbox-horizontal.flipbox-simple.flipbox-vertical.hover.wrapper {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}
.flipbox.flipbox-simple.flipbox-vertical.flipbox-page .wrapper,
.flipbox.flipbox-simple.flipbox-horizontal.flipbox-page .wrapper {
  -webkit-perspective: 1000px;
          perspective: 1000px;
}
.flipbox.flipbox-simple.flipbox-vertical.flipbox-page .card,
.flipbox.flipbox-simple.flipbox-horizontal.flipbox-page .card {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
  -webkit-transition-property: -webkit-transform;
          transition-property: transform;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
}
.flipbox.flipbox-simple.flipbox-vertical.flipbox-page .card-content-top,
.flipbox.flipbox-simple.flipbox-horizontal.flipbox-page .card-content-top,
.flipbox.flipbox-simple.flipbox-vertical.flipbox-page .card-content-bottom,
.flipbox.flipbox-simple.flipbox-horizontal.flipbox-page .card-content-bottom {
  z-index: 2;
  height: 160px;
}
.flipbox.flipbox-simple.flipbox-vertical.flipbox-page .card-content-bottom,
.flipbox.flipbox-simple.flipbox-horizontal.flipbox-page .card-content-bottom {
  z-index: 3;
  top: 160px;
  -webkit-transform: rotateX(90deg);
          transform: rotateX(90deg);
  -webkit-transform-origin: center top;
      -ms-transform-origin: center top;
          transform-origin: center top;
}
.flipbox.flipbox-simple.flipbox-vertical.flipbox-page .card-cover,
.flipbox.flipbox-simple.flipbox-horizontal.flipbox-page .card-cover {
  z-index: 4;
  height: 160px;
  -webkit-transform: rotateX(0deg);
          transform: rotateX(0deg);
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
  -webkit-transform-origin: center bottom;
      -ms-transform-origin: center bottom;
          transform-origin: center bottom;
}
.flipbox.flipbox-simple.flipbox-vertical.flipbox-page.hover .card-cover,
.flipbox.flipbox-simple.flipbox-horizontal.flipbox-page.hover .card-cover,
.flipbox.flipbox-simple.flipbox-vertical.flipbox-page:hover .card-cover,
.flipbox.flipbox-simple.flipbox-horizontal.flipbox-page:hover .card-cover {
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
  -webkit-transform: rotateX(-90deg);
          transform: rotateX(-90deg);
}
.flipbox.flipbox-simple.flipbox-vertical.flipbox-page.hover .card-content-bottom,
.flipbox.flipbox-simple.flipbox-horizontal.flipbox-page.hover .card-content-bottom,
.flipbox.flipbox-simple.flipbox-vertical.flipbox-page:hover .card-content-bottom,
.flipbox.flipbox-simple.flipbox-horizontal.flipbox-page:hover .card-content-bottom {
  -webkit-transform: rotateX(0deg);
          transform: rotateX(0deg);
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}
.flipbox.flipbox-simple.flipbox-vertical .card-cover,
.flipbox.flipbox-simple.flipbox-horizontal .card-cover {
  background: #ACE539;
}
.flipbox.flipbox-simple.flipbox-vertical .card-content,
.flipbox.flipbox-simple.flipbox-horizontal .card-content {
  color: #FFF;
  background: #333333;
}
/** -----------------------------------------------------
 *
 * Flipbox jolie demo
 *
 */
.flipbox .demo {
  display: block;
  max-width: 760px;
  white-space: pre-wrap;
  word-wrap: break-word;
}
.flipbox .inner {
  color: #FFF;
  padding: 20px;
}
.flipbox .inner h1 {
  text-align: center;
  margin-bottom: 10px;
  text-transform: uppercase;
}
.flipbox .code {
  color: #C4C4C4;
}
.flipbox .class {
  color: #FF00CC;
}
