@import '_flipbox.less';

// Typos
@playball: 'Playball', cursive;
@allerta: 'Allerta', sans-serif;

// Mixin
.hidden() {
    width: 0;
    margin: 0;
    height: 0;
    padding: 0;
    outline: none;
    display: none;
    line-height: 0;
    overflow: hidden;
    user-select: none;
    letter-spacing: 0;
    visibility: hidden;
    .no-select();
}

/** -----------------------------------------------------
 *
 * HTML
 *
 */

body, html{
    min-height: 100%;
}

body{
    font-size:12px;
    color: #272727;
    background: #FFF;
    font-family: @allerta;
    text-rendering: optimizeLegibility;
}

img {
    margin:0;
    padding:0;
    border: 0;
    font-size: 0;
    line-height: 0;
    vertical-align: top;
    display: inline-block;
}

/** -----------------------------------------------------
 *
 * Defaults
 *
 */
.container{
    margin: 0 auto;
    max-width: 800px;
}
