<div class="container">
    <!-- code -->
    <div class="markdown-body">
        <h1>
            <span>Horizontal axis</span>
        </h1>
        <div class="tabs">
            <ul class="navigation">
                <li><a href=""><span>CSS</span></a></li>
                <li><a href=""><span>HTML</span></a></li>
                <li><a href=""><span>Less</span></a></li>
            </ul>
            <div class="content">
                <pre>
.flipbox.flipbox-horizontal{
    .flipbox(800px, 320px, 0.6s);
    margin: 20px auto;
    .card-cover{
        background: #ACE539;
    }
    .card-content {
        color: #FFF;
        background: rgba(51, 51, 51, 1);
    }
}
                </pre>
            </div>
        </div>
    </div>
    <!-- demo -->
    <div class="flipbox flipbox-simple flipbox-horizontal">
        <div class="wrapper">
            <div class="card card-cover" style="background: url(http://placehold.it/800x320&text=horizontal) no-repeat left top;"></div>
            <div class="card card-content">
                <div class="inner">
                    <h1><span>Horizontal flip axis</span></h1>
                    <pre class="demo">
&lt;div <span class="class">class="flipbox flipbox-simple flipbox-horizontal"</span>&gt;
    &lt;div <span class="class">class="wrapper"</span>&gt;
        &lt;div <span class="class">class="card card-cover" style="</span><span class="code">background: url(http://placehold.it/800x320);</span><span class="class">"</span>&gt;
        &lt;/div&gt;
        &lt;div <span class="class">class="card card-content"</span>&gt;
            <span class="code">&lt;h1&gt;&lt;span&gt;Lorem ipsum dolor sit amet&lt;/span&gt;&lt;/h1&gt;</span>
            <span class="code">&lt;p&gt;Consectetur adipiscing elit. Ut ut est metus. Nullam imperdiet efficitur erat non accumsan. In molestie venenatis eros eget ullamcorper. Cras volutpat tellus ornare mattis mattis. Vestibulum vestibulum a orci vestibulum dictum.&lt;/p&gt;</span>
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;
                    </pre>
                </div>
            </div>
        </div>
    </div>

</div>
