<div class="grid-100">
    <!-- code -->
    <div class="markdown-body">
        <h1>
            <span>Middle horizontal axis</span>
        </h1>
        <pre>
.flipbox.flipbox-page.flipbox-horizontal{
    .flipbox(800px, 320px, 0.6s);
    margin: 60px auto;
    .card-cover{
        background: #ACE539;
    }
    .card-content-top,
    .card-content-bottom{
        background: rgba(0, 0, 0, 0.25);
    }
}
        </pre>
    </div>
    <!-- demo -->
    <div class="flipbox flipbox-page">
        <div class="wrapper">
            <img class="card" src="//placehold.it/600x320" alt="" title="">
            <div class="card card-content-top">
                <h1><span>Title background</span></h1>
            </div>
            <div class="card card-cover"></div>
            <div class="card card-content-bottom">
                <p>lorem ipsum dolor sit amet consectuer</p>
            </div>
        </div>
    </div>
    <!-- endof demo -->
</div>
